@font-face {
  font-family: mojangles;
  src: url("./../fonts/minecraft.ttf");
}

@media (min-width: 1440px) {
  :root {
    --global-scale: 4;
  }
}

:root {
  --scale: 1;
  --global-scale: 3;
  --default-shadow: #3F3F3F;
  --default-color: #FFF;
}

body {
  --local-scale: calc(var(--scale, 1) * var(--global-scale));
  --local-shadow: var(--shadow-color, var(--default-shadow));
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  image-rendering: pixelated;
  background-image: url("./../media/background.png");
  color: #BABABA;
  font-family: mojangles;
  font-size: 1.5rem;
  word-spacing: 0.4rem;
  text-shadow: calc(0.075rem * var(--local-scale))
               calc(var(--local-scale) * 0.075rem)
               0
               var(--local-shadow);
  line-height: 2.5rem;
}

a {
  color: #FFF;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  padding-bottom: 0.2rem;
}

a:hover {
  --shadow-color: #F00;
  color: #FFFFA0;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../media/background_stone.png");
}

.logo {
  height: 12.5vh;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 100%;
}

.logo__container__image {
  border: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0 auto;
}

.navigation__link {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-bottom: 0;
}

.banner {
  display: block;
  margin-bottom: 5vh;
  width: 100%;
  height: 65vh;
  background-color: #000;
  background-image: url("./../media/fig_cave_5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5vh 2.5vh rgba(0, 0, 0, 0.5);
}

.button__container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 6rem;
  background: url("./../media/button.png") no-repeat scroll 0 0 transparent;
  background-size: contain;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

.button:hover {
  background: url("./../media/button_hovered.png") no-repeat scroll 0 0 transparent;
  background-size: contain;
}

.button__text {
  font-size: 1.75rem;
}

hr {
  border: none;
  height: 1%;
  background-color: linear-gradient(to right,
                                    rgba(0, 0, 0, 0) 0%,
                                    rgba(128, 128, 128, 0.5) 50%,
                                    rgba(0, 0, 0, 0) 100%);
}

.container {
  width: 40%;
  margin: 2.5rem auto;
  background: radial-gradient(rgba(0, 0, 0, 0) 50%,
                              rgba(0, 0, 0, 0.5) 85%),
              url("./../media/background_stone.png");
  padding: 1rem 2rem;
  box-shadow: 0 0 0.25vh 0.5vh rgba(128, 128, 128, 0.15);
}

.container__header {
  margin: 0.75rem auto;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #FFF;
}

.container__subheader {
  font-size: 1.65rem;
  color: #FFF;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.container__list {
  margin-left: 4rem;
}

footer {
  margin-top: auto;
  background: linear-gradient(to bottom,
                              rgba(128, 128, 128, 0.25) 0%,
                              rgba(0, 0, 0, 0) 15%,
                              rgba(0, 0, 0, 0) 55%,
                              rgba(0, 0, 0, 0.5) 100%),
              url("./../media/background_stone.png");
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 5vh 2vh rgba(0, 0, 0, 0.5);
}

.powered_by_noware {
  text-align: center;
}

.under_construction {
  color: #FFAF00;
}

.label_darkgreen {
  color: #0A0;
}

.label_white {
  color: #FFF;
}

.label_golden {
  color: #FA0;
}

.label_red {
  color: #F55;
}

.label_darkred {
  color: #A00;
}

.label_yellow {
  color: #FF5;
}

.copyright {
  width: 35%;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 2rem auto;
}
